/** @format */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import 'scale.css';
@import 'icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

*{
  font-size: 1.8rem;
}


.lato-thin {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.lato-light {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.lato {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.lato-bold {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: normal;
}

.lato-black {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-style: normal;
}

.lato-thin-italic {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-style: italic;
}

.lato-light-italic {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.lato-regular-italic {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.lato-bold-italic {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-style: italic;
}

.lato-black-italic {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-style: italic;
}

.container-general {
	@apply px-0;
}

@screen tablet {
	.container-general {
		max-width: 118.4rem;
		@apply px-[3.2rem] w-[92.2%] mx-auto;
	}
}

@screen laptop {
	.container-general {
		@apply w-[82%];
	}
}


/* Radial Out */
.hvr-radial-out {
	display: inline-block;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	transition-property: color;
	transition-duration: 0.3s;
	border: 3px solid transparent;
	font-weight: 500;
  }
  .hvr-radial-out:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(255, 255, 255);
	border-radius: 100%;
	transform: scale(0);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
  }
  .hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
	@apply text-warning border-warning ;
  }
  .hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
	transform: scaleX(2);
	transform: scaleY(4);
  }


  .shadow-defaut{ box-shadow: 0 1px 32px #aeacf359; }
